# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Jupyter Notebooks
notebooks/data
data_preparation.ipynb
temp.ipynb

# Virtual environments
venv/
.venv/
env/
ENV/
*.env
*.venv


# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Project data, models, and embeddings
data/
models/
embeddings/
